/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

.container {
   @include perspective(450px);
   position: relative;
   width: 100%;
   height: 980px;
   overflow: hidden;

   img {
       @include animation-props(15s, starfield, infinite);
       @include translate3d(0,0,1000px);
        opacity: 0;
        @include transition(box-shadow 250ms ease-out);
    }
} 

img:hover{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
    @include single-box-shadow(rgba(105, 105, 105, 0.7), 5px, 5px, 50px, 10px);
}

@-webkit-keyframes starfield {
    from {
        -webkit-transform: translate3d(0,0,1000px);
        opacity: 0;
        z-index: 100;
    }
    15% {
        opacity : 1;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: translate3d(0,0,-4000px);
        z-index: 0;
    }
}
@-moz-keyframes starfield {
    from {
        -moz-transform: translate3d(0,0,1000px);
        opacity: 0;
        z-index: 100;
    }
    15% {
        opacity : 1;
    }
    50% {
        opacity: 1;
    }
    to {
        -moz-transform: translate3d(0,0,-4000px);
        z-index: 0;
    }
}
@keyframes starfield {
    from {
        transform: translate3d(0,0,1000px);
        opacity: 0;
        z-index: 100;
    }
    15% {
        opacity : 1;
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translate3d(0,700px,-4000px);
        z-index: 0;
    }
}
